{% extends "suunnitelmat/pohja.html" %}
{% block content %}
<div>
    <p>Tervetuloa Salon Luluun!</p>
    <p>Salon Lulu tarjoaa monipuolisia kampaamo- ja parturipalveluita aivan keskellä Kumpulan kampusta! Sivuillamme voit tutustua tarkemmin palveluihimme ja löytyy juuri
        sinun hiustarpeisiisi sopivan henkilön. Pääset helposti varaamaan ajan klikkaamalla "varaa" nappia sivun ylöosassa.</p> 

    <p>Voit liittyä myös kanta-asiakkaaksemme ja olet oikeutettu kuukausittaisiin kanta-asiakas alennuksiin. Kanta-asiakkuus on 
        täysin ilmaista!</p>

</div>
{% endblock %}
