{% extends "suunnitelmat/pohja.html" %}
{% block content %}
<div>
    <p>Kysymyksiä palveluistamme? Soita tai laita sähköpostia, Salon Lulun henkilökunta auttaa milellään!</p>
    <p><a href="">Leikkaukset</a> - <a href="">Värit</a> - <a href="">Kampaukset</a> - <a href="">Muut hiuspalvelut</a><br></p>

    
    <table class="table table-striped" id="taulunleveys">
        <thead>
            <tr>
                <th>Leikkaus</th>
                <th>Hinta</th>
                
            </tr>
        </thead>

        <tbody>       
            <tr>
                <td>Lyhyet</td>
                <td>15€</td>
            </tr>
            <tr>
                <td>Keskipitkät</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Pitkät</td>
                <td>40€</td>
            </tr>
            <tr>
                <td>Tasaus</td>
                <td>20€</td>
            </tr>
            <tr>
                <td>Koneleikkaus</td>
                <td>10€</td>
            </tr>
            <tr>
                <td>Lapset</td>
                <td>20€</td>
            </tr>
        </tbody>
    </table>

    <br>
    <table class="table table-striped" id="taulunleveys">
        <thead>
            <tr>
                <th>Värit</th>
                <th>Hinta</th>
                
            </tr>
        </thead>

        <tbody>       
            <tr>
                <td>Lyhyet</td>
                <td>15€</td>
            </tr>
            <tr>
                <td>Keskipitkät</td>
                <td>30€</td>
            </tr>
            <tr>
                <td>Pitkät</td>
                <td>40€</td>
            </tr>
            <tr>
                <td>Raidat</td>
                <td>20€</td>
            </tr>
            <tr>
                <td>Moniväriraidat</td>
                <td>20€</td>
            </tr>
        </tbody>
    </table>

    <br>
    <table class="table table-striped" id="taulunleveys">
        <thead>
            <tr>
                <th>Kampaukset</th>
                <th>Hinta</th>
            </tr>
        </thead>

        <tbody>       
            <tr>
                <td>Juhlakampaus lyhyet</td>
                <td>40€</td>
            </tr>
            <tr>
                <td>Juhlakampaus pitkät</td>
                <td>80€</td>
            </tr>
        </tbody>
    </table>

    <br>
    <table class="table table-striped" id="taulunleveys">
        <thead>
            <tr>
                <th>Palvelut</th>
                <th>Hinta</th>
                
            </tr>
        </thead>

        <tbody>       
            <tr>
                <td>Kaljun kiillotus</td>
                <td>10€</td>
            </tr>
            <tr>
                <td>Parran ajo</td>
                <td>20€</td>
            </tr>
            <tr>
                <td>Parran muotoilu</td>
                <td>30€</td>
            </tr>

        </tbody>
    </table>
    <p><i>Päivitetty viimeksi: 3.7.2015</i></p>
</div>
{% endblock %}
