<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Salon Lulu
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/tyylit.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div class="container" id="keskitetty">

            <!--                <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
            
            
                                    <div class="collapse navbar-collapse" id="navigation">
                                        <ul class="nav navbar-nav">
                                             Navigaation linkit 
                                            <li><a href="{{base_path}}">Etusivu</a></li>
                                            <li><a href="{{base_path}}">Palvelut ja hinnat</a></li>
                                            <li><a href="{{base_path}}">Henkilökunta</a></li>
                                            <li><a href="{{base_path}}" class="btn btn-default">Varaa aika</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
            -->
            <div class="row otsake"></div>
            
            <div class="row" style="background-color: #88A1B3">
                <ul class="nav navbar-nav" id ="navigation">

                    <li><a href="{{base_path}}">Etusivu</a></li>
                    <li><a href="{{base_path}}">Palvelut ja hinnat</a></li>
                    <li><a href="{{base_path}}">Henkilökunta</a></li>
                    <li><a href="{{base_path}}" class="btn btn-default">Varaa aika</a></li>
                </ul>
            </div>

            <div class="row" style="background-color: #AF88B3">
                <div class="col-md-8">

                    <!-- Dynaaminen sisältö tulee tähän -->
                    {% block content %}{% endblock %}

                </div> 
                <div class="col-md-4">
                    {% include 'suunnitelmat/sivupalkki.html' %}
                </div>
            </div>

            {% block body %}
            <!-- jQuery -->
            <script src="{{base_path}}/vendor/jquery.min.js"></script>

            <!-- Bootstrap (skriptitiedosto) -->
            <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

            <!-- Oma skriptitiedostomme -->
            <script src="{{base_path}}/assets/js/site.js"></script>
            {% endblock %}
        </div>
    </body>
</html>
