{% extends "suunnitelmat/pohja.html" %}
{% block content %}

<h1>Työntekijäesittely <a href="#" class="btn btn-default">Muokkaa</a></h1>

  <ul>
    <li><strong>Nimi:</strong> Jack Bauer</li>
    <li><strong>Aloittanut Lulussa:</strong> 1.4.2013</li>
    <li><strong>Osaaminen:</strong> Leikkaukset, kaljun kiillotus, parran ajo, parran muotoilu</li>
    <li><strong>Erityisosaaminen:</strong> Upeat naamakarvat</li>
  </ul>

<p>Jack on elämänkoulun kovaksikeittämä rautainen ammattilainen, jonka käsissä itsepäisimmätkin jouhet taipuvat upeaksi leijonanharjaksi.</p>
 

{% endblock %}