
@font-face{
    font-family: omaOtsikko;
    src: url('../..//assets/fonts/Libro.ttf');
}

@font-face{
    font-family: omaLinkki;
    src: url('../..//assets/fonts/SimpleKindOfGirl.ttf');
}

html, body {
    min-height: 100%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    color: #364d53;
}

#sivut{

    min-height: 100%;
    background-color: #FFFFFF;
    //    padding: 50px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 1;
}

#viiva-vasen {
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;

    width: 20%;
    margin-left: 0;

    border-right-width: 1px;
    border-left-width: 1px;
    border-color: #080808;
    border-style: none solid none none;
}
#viiva-oikea {
    position: fixed;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    width: 20%;
    margin-right: 0;

    border-right-width: 1px;
    border-left-width: 1px;
    border-color: #080808;
    border-style: none none none solid;
}

#otsake {
    /*    background-image: url('../..//assets/images/cover_bull.jpg');*/
    background-color: #FFFFFF;
    height: 30%;
    position: relative;
}

#otsikko {
    margin-top: 10px;
    font-family: omaOtsikko;
    position:relative;
    bottom: 20px;
    width: 100%;
    font-size: 450%;
}

#otsakepaikka {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.otsaketyylit {
    color: #5e5e5e;
    font-family: "Times New Roman", Times, serif;
    font-size: 90%;
}

#linkit {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 5%;
}

#navi {
    width: 100%;
    list-style-type: none;
    text-align: center;
}

#navi li {
    display: inline;

}

#navi a {
padding: 10px;
font-family: omaLinkki;
font-size: 150%;
}

#navi a:link, a:visited{
    text-decoration: none;
    color: #364d53;
}

#keski{
    position: relative;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #FFFFFF;
    min-height: 100%;
}


.nappula {
    margin-bottom: 10px;
    margin-top: 10px;    
}

.message {
    margin-bottom: 10px;
    margin-top: 10px;
}

