{% extends "frame.html" %}
{% block content %}
<div>
    <div class="message">{{message}}</div>

    <div><a href="{{base_path}}/palvelut" class="btn btn-default btn-xs nappula"><< Takaisin</a></div>

    <div>
        <p><strong>Palvelu:</strong> {{service.name}}</p>
        <p><strong>Palvelun hinta:</strong> {{service.price}} euroa</p>
        <p><strong>Palvelun kuvaus:</strong> {{service.description}}</p>

    </div>

    <div>
        <a href="{{base_path}}/palvelut/{{service.id}}/edit" class="btn btn-info btn-xs nappula">Muokkaa</a>
        
        <form method="post" action="{{base_path}}/palvelut/{{service.id}}/destroy" style="display: inline-block">
            <button type="submit" class="btn btn-warning btn-xs nappula">Poista</button>
        </form>
    </div>
</div>

{% endblock %}