<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Salon Lulu
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/tyylit.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div id="sivut">

            <div id="otsake"> {% include 'sidebar.html' %}
            </div>

            <div id="linkit">
                {% include 'nav.html' %}
            </div>

            <div id="keski">
                {% block content %}{% endblock %}
            </div> 
        </div>
        
        <div id="viiva-vasen"><div id="viiva-oikea">
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
