
<ul id="navi" class="container">
    <!--    <ul class="nav navbar-nav row" id ="navigation">-->

    <div class="row">
        <li><a href="{{base_path}}">Etusivu</a></li>
        <li><a href="{{base_path}}/palvelut">Palvelut ja hinnat</a></li>
        <li><a href="{{base_path}}/henkilokunta">Henkilökunta</a></li>
        <li><a href="{{base_path}}/varaa">Vapaat ajat</a></li>

        {%if user_logged_in %}

        <li><a href="{{base_path}}/">Omat tiedot</a></li>

<!--        <p>{{user_logged_in.name}}</p>   -->
        <form class="navbar-form" method="post" action="{{base_path}}/logout">
            <button type="submit" class="btn btn-default btn-xs">Kirjaudu ulos</button>
        </form>

        {%else%}

        <li><a href="{{base_path}}/rekisteroidy">Rekisteröidy</a></li>
        <form class="navbar-form" action="{{base_path}}/kirjaudu">
            <button type="submit" class="btn btn-default btn-xs">Kirjaudu</button>
        </form>


        {%endif%}
    </div>
</ul>

