
<ul id="navi" class="container">
    <!--    <ul class="nav navbar-nav row" id ="navigation">-->

    <div class="row">
        <li><a href="{{base_path}}">Etusivu</a></li>
        <li><a href="{{base_path}}/palvelut">Palvelut ja hinnat</a></li>
        <li><a href="{{base_path}}/henkilokunta">Henkilökunta</a></li>
        <li><a href="{{base_path}}/varaa">Vapaat ajat</a></li>

        <li><a href="{{base_path}}/rekisteroidy">Rekisteröidy</a></li>
        <li><a href="{{base_path}}/kirjaudu">Kirjaudu</a></li>
    </div>
</ul>

