
<div><center>


        <div class="container" id="otsakepaikka">

            <div class="otsaketyylit">
                <center>
                    PARTURI-KAMPAAMO
                </center>
            </div>

            <div id="otsikko" class="row">Salon Lulu</div>

            <div class="row otsaketyylit">

                <div class="col-md-4">
                    A.I. Virtasen aukio,
                    <strong>Helsinki</strong>
                </div>          

                <div class="col-md-4">
                    <strong>Ma-pe: 8-18 
                        La: 7-15</strong>
                </div>


                <div class="col-md-4">
                    Puh. 444-0000000
                </div>
            </div>
        </div>
    </center>
</div>

