
<div><center>


        <div class="container" id="otsaketeksti">

            <div id="otsikko" class="row">Salon Lulu</div>

            <div class="row">
                
                <div class="col-md-4">
                    A.I. Virtasen aukio, <br>
                    <strong>Helsinki</strong><br>
                </div>

                <div class="col-md-4">
                    <strong>Ma-pe: 8-18 
                        <br>La: 7-15</strong>
                </div>

                <div class="col-md-4">
                    Puh. 444-0000000<br>
                    salonlulu[a]herpderpderp.fi
                </div>
            </div>
        </div>
    </center>
</div>

